.j-container{
      display: flex;
      padding: 20px;
      justify-content: center;
}
.j-img{
      width: 250px ; 
      height: 300px; 
      border-radius : 10px;
}
.j-subcontainer{
      padding: 30px;
}
.location-container{
      display: flex;
      align-items: center;
} 
.location-container > img{
      height: 20px ;
      margin-right : 6px;
}
.location-container > p{
      margin-right: 20px;
}